body {
    background: #F9F9F9;
  }

.target {
    border-radius: 20px;
    margin: 15px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 40px 1fr 20px;
    justify-content: space-around;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.description {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
}

.description h1 {
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
}

.homepage-father {
    background-image: url(/../img/junior-football-team-ready-to-fight-UZNB2H2.jpg);
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    width: 220px;
    padding: 20px 10px;
    color: white;
    margin: 0 15px;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    border-radius: 20px;
}

.homepage-father:hover{
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.homepage-father h1 {
    margin: 0 0 50px 0;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.homepage-scout {
    background-image: url(/../img/green-field-with-blue-yellow-stands-against-the-U54DF29.jpg);
    background-size: cover;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    width: 220px;
    padding: 20px 10px;
    color: white;
    margin: 0 15px;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    border-radius: 20px;
}

.homepage-scout:hover{
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.homepage-scout h1 {
    margin: 0 0 50px 0;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.homepage-assistant {
    background-image: url(/../img/man-talking-by-phone-while-soccer-match-W32SAFD.jpg);
    background-size: cover;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    width: 220px;
    padding: 20px 10px;
    color: white;
    margin: 0 15px;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    border-radius: 20px;
}

.homepage-assistant:hover{
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.homepage-assistant h1 {
    margin: 0 0 50px 0;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.target h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}

.homepage-scout h2 {
    margin-bottom: 60px;
}

.homepage-assistant h2 {
    margin-bottom: 100px;
}

.target p {
    width: 200px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border-top: 1px dotted white;
    padding-top: 10px;
    margin-left: 10px;
}

.target button {
    margin-bottom: 20px;
    background: white;
    width: 80%;
    padding: 1em;
    margin-top: 2em;
    border-radius: 5em;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
}

.target button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target button:focus {
    outline: none;
}

.target button a{
    font-size: 1em;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}



.account {
    grid-column: 1/-1;
    grid-row: 3;
    text-align: center;
}

.account a{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
