body {
    background: #F9F9F9;
  }

.target {
    border-radius: 20px;
    margin: 30px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 1fr 65px;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.target button {
    background:linear-gradient(45deg, #43cea2, #185a9d);
    width: 200px;
    padding: 1em;
    border-radius: 5em;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 0;
}

.target button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target button:focus {
    outline: none;
}

.target button a{
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

h1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
}

.loguearse {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.loguearse button:nth-child(1) {
    margin-right: 20px;
}

.forms {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.forms fieldset {
    border: none;
}

.forms fieldset label[for=email], label[for=password]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.forms fieldset input[type=email], input[type=password] {
    width: 400px;
    padding: 1em;
    border-radius: 5em;
    background-color: #F9F9F9;
    border: none;
}

.forms fieldset input:focus {
    outline: none;
}

label[for=terms]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px; 
    margin-bottom: 10px;
}

.enter {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
}

.enter button {
    margin-bottom: 20px;
    text-align: center;
}

.enter a {
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.switch {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 32px;  
    top: 5px;
    margin-right: 10px;
}
  
.switch input {
    display:none;
}
  
.slider {
    background-color: #CF6144;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 13px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 13px;
}
  
input:checked + .slider {
    background-color: #43cea2;
}
  
input:checked + .slider:before {
    transform: translateX(13px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.enter button {

}